<!-- CONTROLS -->

  <input class='btn-primary' type="radio" checked id="radio-front" name="select-face"/>
  <input type="radio" id="radio-left" name="select-face"/>
  <input type="radio" id="radio-right" name="select-face"/>
  <input type="radio" id="radio-top" name="select-face"/>
  <input type="radio" id="radio-bottom" name="select-face"/>
  <input type="radio" id="radio-back" name="select-face"/>

<div class="separator"></div>


<div class="space3d">


    <div class="_3dbox">
      <div class="_3dface _3dface--front">Yo</div>
      <div class="_3dface _3dface--top">Yo</div>
      <div class="_3dface _3dface--bottom">Yo</div>
      <div class="_3dface _3dface--left">Yo</div>
      <div class="_3dface _3dface--right">Yo</div>
      <div class="_3dface _3dface--back">Yo</div>
    </div>

</div>

<div class="separator"></div>
