<!-- CONTROLS -->

<!--<input class='btn-primary' type="radio" checked id="radio-front" name="select-face"/>
<input type="radio" id="radio-left" name="select-face"/>
<input type="radio" id="radio-right" name="select-face"/>
<input type="radio" id="radio-top" name="select-face"/>
<input type="radio" id="radio-bottom" name="select-face"/>
<input type="radio" id="radio-back" name="select-face"/>-->

<input type="radio" name="sex" id="radio-left" data-icon='' />
<input type="radio" name="sex" id="radio-right" data-icon='' />
<input type="radio" name="sex" id="radio-top" data-icon='' />
<input type="radio" name="sex" id="radio-bottom" data-icon='' />
<input type="radio" name="sex" id="radio-back" data-icon='' />

<div class="separator"></div>


<div class="space3d">


    <div class="_3dbox">
      <div class="_3dface _3dface--front">1</div>
      <div class="_3dface _3dface--top">2</div>
      <div class="_3dface _3dface--bottom">3</div>
      <div class="_3dface _3dface--left">4</div>
      <div class="_3dface _3dface--right">5</div>
      <div class="_3dface _3dface--back">6</div>
    </div>

</div>

<div class="separator"></div>
